@charset "UTF-8";

body {
  color: #000;
  background-color: #fff;
  font-family: 'Droid Serif', YuGothic, '游ゴシック', sans-serif;
  cursor:url(../img/cursor.png), pointer;
}

.wrapper{
        overflow: hidden;
        animation-name: fade;
        animation-duration: 5s;
    }
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*イメージビデオの箇所*/
.top__bg{
    margin:0 auto;
}

/*ペットの情報を紹介する箇所*/
.pet{
    height: auto;
    background-color: skyblue;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}
.pet-subTitle{
    text-align: center;
}
.pet-description{
    width: 500px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
/*URL箇所*/
.pet-description a{
    text-decoration: underline;
    color: black;
}
.pet-description a:hover{
    text-decoration: none;
    color: blue;
}



/*里親情報の箇所*/
.parents{
    height: auto;
    background-color: pink;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 5px;
}
.parents-subTitle{
    text-align: center;
}
.parents-description{
    width: 500px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
/*里親サイトの箇所*/
.parents-site{
    text-align: center;
    position: relative;
    bottom: 50px;
}
/*URL箇所*/
.parents-description a{
    text-decoration: underline;
    color: black;
}
.parents-description a:hover{
    text-decoration: none;
    color: blue;
}
.parents-site-title a{
    color: black;
}
.parents-site-title a:hover{
    text-decoration: none;
    color: blue;
}


/*まとめの箇所*/
.prepare{
    height: auto;
    background-color: #99FFCC;
    padding-top: 100px;
    padding-bottom: 5px;
}
.prepare-subTitle{
    text-align: center;
}
.prepare-description{
    font-size: 18px;
    width: 500px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}


.gallery{
    height: auto;
    background-color: #FFFFCC;
    margin-bottom: -150px;
    padding-top: 100px;
}
.gallery-title{
    text-align: center;
}
.gallery-description{
    width: 550px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
.image-gallery{
    text-align: center;
    position: relative;
    bottom: 250px;
}

footer {
  position:absolute;
  top: 30;
  width: 100%;
  margin: 0;
  padding: 32px 0;
  background-color: #fafaf3;
  text-align: center;
  
}

/*スライドショー*/
.slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  bottom: 70px;

}
.slider-item {
  width: 600px;
  float: left;
}
.img-pet1
.img-pet2
.img-pet3{
  width: 600px;
  height: 400px;
}
.slider-inner {
  width: 300%;
  animation: slider 10s infinite ease;
}

@keyframes slider {
	0% {
	transform: translateX(0);
	}
	33% {
	transform: translateX(-600px);
	}
	66% {
	transform: translateX(-1200px);
	}
	100% {
	transform: translateX(0);
	}
}

/*フェードイン*/
.sa {
  opacity: 0;
  transition: all .5s ease;
}
 
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--up {
  transform: translate(0, 50px);
}
 
.sa--down {
  transform: translate(0, -100px);
}
 
.sa--scaleUp {
  transform: scale(.5);
}
 
.sa--scaleDown {
  transform: scale(1.5);
}
 
.sa--rotateL {
  transform: rotate(180deg);
}
 
.sa--rotateR {
  transform: rotate(-180deg);
}